body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 90%);
}

#myH1 {
  font-size: 4rem;
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 25%);
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 5px, solid;
  border-radius: 15px;
  background-color: white;
}

#display {
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: hsl(0, 0%, 30%);
  text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
  margin-bottom: 25px;
}

#controls button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5 ease;
}

#startBtn {
  background-color: hsl(84, 72%, 51%);
}

#startBtn:hover {
  background-color: hsl(84, 72%, 41%);
}

#stopBtn {
  background-color: hsl(0, 67%, 49%);
}
#stopBtn:hover {
  background-color: hsl(0, 67%, 39%);
}

#resetBtn {
  background-color: hsl(211, 60%, 55%);
}
#resetBtn:hover {
  background-color: hsl(211, 60%, 45%);
}
